
<div class="container bootstrap snipets">
  
   <h1 class="text-center text-muted">Game List</h1>
   <div class="row flow-offset-1">
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a (click)="share()"><img src="https://firebasestorage.googleapis.com/v0/b/hazelgamestore.appspot.com/o/cover.jpg?alt=media&token=fed6f40c-bbf0-427f-9f22-ab6c497559a9" alt="TEKKEN 7"></a>
         <div class="caption">
           <h2><a (click)="share()">Tekken 7</a></h2><span class="price">
             700 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a (click)="share()"><img src="https://firebasestorage.googleapis.com/v0/b/hazelgamestore.appspot.com/o/5dfb537d46177c76ba62c802.jpg?alt=media&token=4b913820-be95-47fd-b100-e14e4b7bb2fd" alt=""></a>
         <div class="caption">
           <h2><a (click)="share()">Resident Evil 3</a></h2><span class="price">
             <del>1590 ฿</del></span><span class="price sale">350 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/hazelgamestore.appspot.com/o/5912d667ae653a98cb5745ac.jpg?alt=media&token=2a75e805-2002-48d5-973a-1f7a864931a1" alt=""></a>
         <div class="caption">
           <h2><a href="#">DOOM</a></h2><span class="price">620 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://cdn.cdkeys.com/500x706/media/catalog/product/a/n/animal-crossing-new-horizons-cdkeys-discount.jpg" alt=""></a>
         <div class="caption">
           <h2><a href="#">Animal Crossing</a></h2><span class="price">
             <del>1400 ฿</del></span><span class="price sale">1050 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://cdn.cdkeys.com/500x706/media/catalog/product/8/_/8_1.jpg" alt=""></a>
         <div class="caption">
           <h2><a href="#">PUBG</a></h2><span class="price">
             <del>499 ฿</del></span><span class="price sale">299 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://cdn.cdkeys.com/500x706/media/catalog/product/b/a/battlefield_1_cover.jpg" alt=""></a>
         <div class="caption">
           <h2><a href="#">Battlefield 1</a></h2><span class="price">
             <del>1050 ฿</del></span><span class="price sale">249 ฿</span>
         </div>
       </div>
     </div>
     <div class="col-xs-6 col-md-4">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="https://cdn.cdkeys.com/500x706/media/catalog/product/f/o/football_manager_2018_pc_cover.jpg" alt=""></a>
         <div class="caption">
           <h6><a href="#">Football Manager (FM) 2018</a></h6><span class="price">300 ฿</span>
         </div>
       </div>
     </div>
    