



  <h2 class="signup-header">Register</h2><br>

<form class="text-center mx-auto" action="#!" style="width: 25%; margin-top: 130px; border: 0; border: 4px solid; border-color: white; padding: 50px" (ngSubmit)="register(email.value,password.value,cpassword.value)">

    <p class="h4 mb-4" style="color: white">Register</p>

  
    <input #email type="email" class="form-control" id="inputEmail3" placeholder="E-mail">
   
    <input #password type="password" class="form-control" id="inputPassword3" placeholder="Password" style="margin-top: 20px">

    <input #cpassword  type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password" style="margin-top: 20px">

    <button type="submit" class="btn btn-outline-light col-sm-6" style="outline: 0 ; border: 0; margin-top: 20px; border: 2px solid;">Register</button>

</form>

